development/Menú Overview Every Menu, JUST FLOW AND TEXT, NOT REAL FUNCIONALITY.json
{
  "name": "Menú Overview",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        592
      ],
      "id": "1c904ff0-b6f8-4063-b2cb-97b463abcbfa",
      "name": "Telegram Trigger",
      "webhookId": "b9545048-0e69-4262-a3bf-ea600b19fb38",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1lbVT2-3mihfAwOVcJHO2MWlbExKG3T3PULHCbHlEFog",
          "mode": "list",
          "cachedResultName": "Agenda_bot_sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lbVT2-3mihfAwOVcJHO2MWlbExKG3T3PULHCbHlEFog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1616
      ],
      "id": "7591ad7d-43a9-48e4-8d09-35b2a96678fa",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "hGSQSmHO3j7zYLyG",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1840
      ],
      "id": "83765216-5547-4c13-84ae-7afac5864832",
      "name": "Send a text message1",
      "webhookId": "396f6d5a-c6f0-4a6c-8836-904bb0e7984f",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Ups, esa opción no existe en este menú 😅\n\nPor favor escribe uno de los números que ves en pantalla.\n\nEstás en: {{pantalla_actual != null ? pantalla_actual:\"\"}}\nOpciones disponibles: {{rango_opciones != null ? rango_opciones:\"\"}}\n\n👉 Tip: escribe solo el número (por ejemplo: 1).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        784
      ],
      "id": "62fc14da-2228-48e1-9338-d7ead7983d7b",
      "name": "Opción No Valida",
      "webhookId": "e85291c3-1b7e-48ad-8b3b-5569eb31d4c9",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hola, soy AgendaBot 👋\n\nEstoy aquí para ayudarte a organizar tus citas, tareas y recordatorios\nde forma sencilla y sin complicaciones.\n\nPuedes escribirme en cualquier momento.\nPara avanzar, solo tienes que escribir el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n\n1. Agenda (citas)\n\n2. Tareas\n\n3. Recordatorios\n\n4. Hábitos\n\n5. Listas\n\n6. Reportes\n\n7. Configuración\n\n8. Administrador\n\nTip rápido:\nescribe solo el número (por ejemplo: 1) y presiona enviar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        400
      ],
      "id": "d60b9d1f-3baa-4f88-b170-13965323b666",
      "name": "Bienvenida",
      "webhookId": "e85291c3-1b7e-48ad-8b3b-5569eb31d4c9",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "¿En qué te puedo ayudar hoy? 😊\n\nMenú principal:\n0. Ayuda\n\n1. Agenda (citas)\n\n2. Tareas\n\n3. Recordatorios\n\n4. Hábitos\n\n5. Listas\n\n6. Reportes\n\n7. Configuración\n\n8. Administrador\n\n💡 Sugerencia:\nSi quieres empezar rápido, te recomiendo la opción 1 (Agenda).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        592
      ],
      "id": "445f1f5d-0c10-4d7a-b4b5-2e13966278cc",
      "name": "Menu Principal",
      "webhookId": "e85291c3-1b7e-48ad-8b3b-5569eb31d4c9",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Claro, te ayudo 😊\n\nSoy AgendaBot y puedo ayudarte a:\n\n- Agendar y gestionar citas\n\n- Crear y organizar tareas\n\n- Llevar recordatorios\n\n- Registrar hábitos\n\n- Crear listas personalizadas\n\nPara usarme, solo escribe el número de la opción que quieras.\n\n¿Qué deseas hacer ahora?\n\n1. Ir al menú principal\n\n2. Salir\n\n💡 Sugerencia:\nTe recomiendo ir al menú principal (1) para empezar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        208
      ],
      "id": "da96b416-1ebc-40c1-8cb0-6c3e3478032d",
      "name": "Menú Ayuda",
      "webhookId": "e53a7f73-09d7-4b20-aa71-6cea408b1691",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Perfecto, vamos con tu agenda 📅\n\n¿Qué deseas hacer?\n\n1. Agendar una nueva cita\n\n2. Consultar tu agenda\n\n3. Reprogramar una cita\n\n4. Cancelar una cita\n\n5. Marcar una cita como completada\n\n6. Volver al menú principal\n\n💡 Sugerencia:\nTe recomiendo la opción 1 (Agendar una nueva cita).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        16
      ],
      "id": "34359413-37b1-445a-866f-605a678a93bf",
      "name": "Menú Agenda",
      "webhookId": "95c2e7db-d561-4644-9f1a-dfd17f305b61",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Empecemos a crear tu cita 😊\n\nPaso 1 de 6 — Fecha\n\n¿Cuál es la fecha de la cita?\n\nFormato: YYYY-MM-DD\nEjemplo: 2025-12-20\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        16
      ],
      "id": "92339d56-c97b-44f4-84d2-1bd9566a15fa",
      "name": "Agendar Cita Paso 1",
      "webhookId": "40f5c2e5-ba01-4e1d-8e67-331e88961fc0",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Ups 😅 la fecha no tiene el formato correcto.\n\nRecuerda usar: YYYY-MM-DD\nEjemplo: 2025-12-20\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        208
      ],
      "id": "0eef8b65-88ea-4683-83da-bfb517bb1b47",
      "name": "Fecha Invalida",
      "webhookId": "032cae0e-0c44-46ea-ab8d-e61649d9bca9",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hmm 🤔 esa fecha ya pasó.\n\nPor favor ingresa una fecha futura.\n\nEjemplo: 2025-12-20\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        16
      ],
      "id": "f776361e-c625-49cc-8594-46c15b051c27",
      "name": "Fecha en el pasado",
      "webhookId": "431e9db7-ea8c-443c-bb82-65fa90992bd9",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Perfecto 👍\n\nPaso 2 de 6 — Hora\n\n¿A qué hora será la cita?\n\nFormato 24 horas: HH:MM\nEjemplo: 14:30\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -176
      ],
      "id": "fbac74f1-d83d-4b89-bce4-c50d20a58c3e",
      "name": "Agendar Cita Paso 2",
      "webhookId": "51955384-d352-46f0-a7db-4ba879bc682f",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Ups 😅 la hora no tiene un formato válido.\n\nRecuerda usar formato 24 horas:\nHH:MM\n\nEjemplo: 14:30\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -80
      ],
      "id": "bc73a1e2-d020-470a-9f14-5f8756b662e9",
      "name": "Hora Invalida",
      "webhookId": "89a3d27f-d5de-425c-8c71-1bdf700a711e",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Genial 😊\n\nPaso 3 de 6 — Nombre\n\n¿A nombre de quién es la cita?\n\nEscribe el nombre completo.\n\nEjemplo: Pedro Gómez\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -272
      ],
      "id": "8e6bc315-49e8-47de-bd7e-66412d1eedcc",
      "name": "Agendar Cita Paso 3",
      "webhookId": "68cb4abc-ec1d-4a8a-953b-da48a167af0b",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Muy bien 👍\n\nPaso 4 de 6 — Motivo\n\nCuéntame brevemente el motivo de la cita.\n\nEjemplo: Asesoría técnica\n\n9. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -272
      ],
      "id": "8704fa27-74d1-4256-b00b-4460e540a6ba",
      "name": "Agendar Cita Paso 4",
      "webhookId": "68cb4abc-ec1d-4a8a-953b-da48a167af0b",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Perfecto 😊\n\nPaso 5 de 6 — Canal\n\n¿Cómo será la atención?\n\n1. Presencial\n\n2. Virtual\n\n3. Llamada\n\n4. Cancelar\n\n💡 Sugerencia:\nNormalmente se usa 2 (Virtual).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        -272
      ],
      "id": "22f7935b-e376-477b-97d5-81678047023a",
      "name": "Agendar Cita Paso 5",
      "webhookId": "68cb4abc-ec1d-4a8a-953b-da48a167af0b",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Revisa la información de tu cita 👀\n\n  Fecha: {{fecha?fecha:\"\"}}\n  Hora: {{hora?hora:\"\"}}\n  Cliente: {{nombre?nombre:\"\"}}\n  Motivo: {{motivo?motivo:\"\"}}\n  Canal: {{canal?canal:\"\"}} \n\n¿Qué deseas hacer?\n  1. Confirmar y guardar\n  2. Editar información\n  3. Cancelar\n\n💡 Sugerencia: Te recomiendo 1 (Confirmar y guardar).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        -272
      ],
      "id": "5eb09856-a3ad-4ff7-8e34-64c580935c74",
      "name": "Agendar Cita Paso 6 Confirmar",
      "webhookId": "53686d34-b4e3-4ec5-8047-9eba5a560364",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Ups 😬 ya tienes una cita agendada\nen esa misma fecha y hora.\n\nPor favor elige otra hora o fecha.\n\n1. Cambiar hora\n\n2. Cambiar fecha\n\n3. Cancelar",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        -272
      ],
      "id": "5e42f7dd-5e83-4c52-a80a-e10393c21d94",
      "name": "Error Doble Reserva",
      "webhookId": "a60929b2-6f11-4032-926d-05a0c072384d",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=¡Listo! 🎉  Tu cita quedó agendada correctamente.\nID de la cita: {{id_cita?id_cita:\"\"}}\n\n¿Qué deseas hacer ahora?\n  1. Volver a Agenda\n  2. Ir al menú principal\n\n💡 Sugerencia: Te recomiendo 1 (Volver a Agenda).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        -272
      ],
      "id": "66432ad6-e469-47be-b909-1470993ebf93",
      "name": "Send a text message",
      "webhookId": "4cb527ae-9929-496d-806e-afea0d9b0a77",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Perfecto, vamos con tus tareas 📝\n\n¿Qué deseas hacer?\n\n1. Crear una nueva tarea\n\n2. Ver mis tareas\n\n3. Cambiar estado de una tarea\n\n4. Volver al menú principal\n\n💡 Sugerencia:\nTe recomiendo 1 (Crear una nueva tarea).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        400
      ],
      "id": "b9fc7222-b5b5-4c5f-b78f-a96c8ed37c12",
      "name": "Menú Tareas",
      "webhookId": "e53a7f73-09d7-4b20-aa71-6cea408b1691",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Genial 😊 vamos con tus hábitos 🔁\n\n¿Qué deseas hacer?\n\n1. Crear un nuevo hábito\n\n2. Ver mis hábitos\n\n3. Activar / desactivar un hábito\n\n4. Volver al menú principal\n\n💡 Sugerencia:\nTe recomiendo 1 (Crear un nuevo hábito).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        592
      ],
      "id": "5012fdf6-2bce-4555-9d1e-c44c94b347c8",
      "name": "Menú Habitos",
      "webhookId": "e53a7f73-09d7-4b20-aa71-6cea408b1691",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Perfecto 😊 vamos con tus listas 🗂️\n\n¿Qué deseas hacer?\n\n1. Crear una nueva lista\n\n2. Ver mis listas\n\n3. Agregar ítems a una lista\n\n4. Volver al menú principal\n\n💡 Sugerencia:\nTe recomiendo 1 (Crear una nueva lista).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        784
      ],
      "id": "4ba8b97b-fbdf-454f-b381-b3e4ec09ae81",
      "name": "Menú Listas",
      "webhookId": "e53a7f73-09d7-4b20-aa71-6cea408b1691",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Aquí tienes tus reportes 📊\n\n¿Qué deseas hacer?\n\n1. Ver resumen de hoy\n\n2. Ver resumen semanal\n\n3. Volver al menú principal\n\n💡 Sugerencia:\nTe recomiendo 1 (Resumen de hoy).",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        976
      ],
      "id": "5ccda28f-1df2-48c6-beab-5375825a14f6",
      "name": "Menú Reportes",
      "webhookId": "e53a7f73-09d7-4b20-aa71-6cea408b1691",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Menú de administrador 🔐\n\n¿Qué deseas hacer?\n\n1. Ver usuarios registrados\n\n2. Autorizar usuario\n\n3. Bloquear usuario\n\n4. Volver al menú principal\n\n💡 Sugerencia:\nUsa estas opciones con cuidado 😉",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        1168
      ],
      "id": "af5dca3f-effd-4644-a2f9-e3065bb53fb0",
      "name": "Menú Admin",
      "webhookId": "e53a7f73-09d7-4b20-aa71-6cea408b1691",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Está bien 😊\n\nHe cancelado el proceso actual.\n\n¿Qué deseas hacer ahora?\n\n1. Volver al menú principal\n\n2. Salir",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        1392
      ],
      "id": "36b2ebfc-eefe-4223-9695-46fcd96fa254",
      "name": "Cancelación Global",
      "webhookId": "2a994bca-8a17-45a4-ad62-fa54d7f9fb3c",
      "credentials": {
        "telegramApi": {
          "id": "9O34GtDHCzgXdfGS",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Opción No Valida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menu Principal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Principal": {
      "main": [
        [
          {
            "node": "Menú Ayuda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menú Agenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menú Tareas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menú Habitos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menú Listas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menú Reportes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menú Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menú Agenda": {
      "main": [
        [
          {
            "node": "Agendar Cita Paso 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha Invalida": {
      "main": [
        []
      ]
    },
    "Agendar Cita Paso 1": {
      "main": [
        [
          {
            "node": "Fecha Invalida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fecha en el pasado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agendar Cita Paso 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita Paso 2": {
      "main": [
        [
          {
            "node": "Hora Invalida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agendar Cita Paso 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita Paso 3": {
      "main": [
        [
          {
            "node": "Agendar Cita Paso 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita Paso 4": {
      "main": [
        [
          {
            "node": "Agendar Cita Paso 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita Paso 5": {
      "main": [
        [
          {
            "node": "Agendar Cita Paso 6 Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita Paso 6 Confirmar": {
      "main": [
        [
          {
            "node": "Error Doble Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Doble Reserva": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "70096a12-f2f0-469a-a7af-604dc53c07ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8b7b70b82f260dd84cef69378d5fb96b8373c4e2539cba617c61d23378f57a56"
  },
  "id": "4B5y8vCTBTSfwfd_yropU",
  "tags": []
}